<h4>部署の登録</h4>

<% if @department.errors.present? %>
  <ul id="error_explanation">
    <% @department.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: [:admin, @department], local: true, url: confirm_new_admin_department_path do |f|  %>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :number, "部署番号" %>
      <%= f.text_field :number , class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :name, "部署名" %>
      <%= f.text_field :name , class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :ancestry, "上位(親)部署" %>
      <%= f.collection_select :ancestry, @departments,:id, :name, {include_blank: "なし"} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :startdate, "発足日" %>
      <%= f.date_field :startdate, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :enddate, "終了日" %>
      <%= f.date_field :enddate, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.submit "確認" , class: "btn btn-primary" %>
    </div>
  </div>
</div>

<% end %>