<h5>部署情報</h5>

<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= Department.human_attribute_name(:number) %></th>
      <td><%= @department.number %></td>
    </tr>
    <tr>
      <th><%= Department.human_attribute_name(:name) %></th>
      <td><%= @department.name %></td>
    </tr>
    <tr>
      <th><%= Department.human_attribute_name(:startdate) %></th>
      <td><%= @department.startdate_time(@department.startdate) %></td>
    </tr>
    <tr>
      <th><%= Department.human_attribute_name(:enddate) %></th>
      <td><%= @department.enddate_time(@department.enddate) %></td>
    </tr>
  </tbody>
</table>

<%= link_to "編集" , edit_admin_department_path, class: "btn btn-primary mr-3 btn-sm" %>
<%= link_to "削除" , [:admin, @department], method: :delete, data: { confirm: "ユーザー「#{@department.name}」を削除します。よろしいですか？" },class: "btn btn-danger btn-sm" %>
