<h5>業務一覧</h5>

<div class="row mt-3">
  <div class="col-3">
    <%= form_with(url: works_switch_index_path, local: true) do |f| %>
      <%= f.select :fiscalyear, Constant::FISCAL_YEARS.invert, {include_blank: "年度を選択"} %>
      <%= f.submit "選択" %>
    <% end %>
  </div>
</div>

<!-- 現在表示している年度の表示 -->
<div class="row mt-3">
  <div class="col-3">
    年度：<%= Constant::FISCAL_YEARS[@current_fiscalyear] %>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-5">
    担当業務
    <div class="box11">
      <div class="overflow-auto" style="height:300px;">
        <% @myworks.each do |mywork| %>
          <p>・<%= link_to mywork.name ,work_path(mywork.id) %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-5 ml-5">
    所属部署全体の業務&nbsp;&nbsp;&nbsp;&nbsp;
      <% if current_user.position == 4 %> <!-- 課室長級の場合 -->
        <%= link_to "/works/new/#{@current_fiscalyear}" do %>
          <button type="button" class="btn btn-info btn-sm py-0 mb-0">業務追加</button>
        <% end %>
      <% end %>
    <div class="box13">
      <div class="overflow-auto" style="height:300px;">
        <% @works_in_department.each do |work_in_department| %>
          <p>・<%= link_to work_in_department.name ,work_path(work_in_department.id) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if current_user.position == 4 %> <!-- 課室長級の場合 -->
<div class="row justify-content-end mt-5 mb-3">
  <div class="col-auto mr-5">
    <a href="/works/copy" class="btn btn-warning btn" role="button">業務をコピーする</a>
  </div>
</div>
<% end %>