<div class="nested-fields">
  <div class="row mt-1 ml-2">
    <div class="col-1">手順<%= f.select :number, 1..99, class: "form-control", placeholder: "手順番号" %></div>
    <div class="col-6"><%= f.text_area :content, class: "form-control", placeholder: "内容" %></div>
    <div class="col-4"><%= f.text_area :note, class: "form-control", placeholder: "備考" %></div>
    <div class="col-1 mt-4">
      <%= f.submit "削除#{i - 1}" ,
          data: { confirm: "削除したものは戻せません。フローを削除してよろしいですか？" },
          class: "btn btn-danger btn-sm" %>
    </div>
  </div>
  
  <div class="row mt-1 ml-2">
    <div class="offset-1 col-6"><%= f.text_field :filepath, class: "form-control", placeholder: "ファイルパス" %></div>
    <div class="col-4"><%= f.file_field :file, class: "form-control" %></div>
  </div>
</div>


