<div class="row">
  <div class="col-4 offset-2"> 
    ・業務名：<%= @work.name %>
  </div>
  <div class="col-5"> 
    ・業務時期：<%= @work.period %>月
  </div>
</div>


<div class="work-post">
  <%= form_with(model: @work, local: true) do |f| %>
  <div class="row">
    <h3><%= f.label "業務名" %></h3>
    <%= f.text_area :name %>
  </div>
  
  <div class="row">
    <h3><%= f.label "業務時期" %></h3>
    <%= f.text_area :period %>
  </div>
  
  <div class="row">
    <h3><%= f.label "業務概要" %></h3>
    <%= f.text_area :summary %>
  </div>
  
  <div class="row">
    <h3><%= f.label "本業務の課題" %></h3>
    <%= f.text_area :task %>
  </div>



  <div class="workflows">
    
    <div id="detail-association-insertion-point"></div>
    
    <div class="col-10 mx-auto mt-2">
    <%= link_to_add_association "+フローを追加", f, :workflows,
      class: "btn btn-secondary btn-block",
      data: {
      association_insertion_node: '#detail-association-insertion-point',
      association_insertion_method: 'before'
      }%>
    </div>
    
    <div class="mx-auto">
    <% i = 1 %>
    <%= f.fields_for :workflows do |t| %>
      <%= render "/works/workflow_fields", f: t %>
    
    <div id=<%= "detail-association-insertion-point-#{i}" %>></div>
    
    <div class="col-10 mx-auto mt-2">
    <%= link_to_add_association "+フローを追加", f, :workflows,
      class: "btn btn-secondary btn-block",
      data: {
      association_insertion_node: "#detail-association-insertion-point-#{i}",
      association_insertion_method: 'before'
      }%>
    </div>
    <% i += 1 %>
    <% end %>
    </div>
    
    
  
  </div>
  
  <div class="row">
    <%= f.submit "更新" %>
  </div>
  
  <% end %>
  
</div>