<div class="row">
  <div class="col-4 offset-2"> 
    ・業務名：<%= @work.name %>
  </div>
  <div class="col-5"> 
    ・業務時期：<%= @work.period %>月
  </div>
</div>

<!-- 以下、Workモデルの修正フォーム用 -->

<%= form_with model: @work do |f| %>
<div class="row">
  <h3><%= f.label "業務概要" %></h3>
  <%= f.text_area :summary %>
</div>

<div class="row">
  <h3><%= f.label "本業務の課題" %></h3>
  <%= f.text_area :task %>
</div>

<div class="row">
  <%= f.submit "更新" %>
</div>
<% end %>



  