<% if @work.errors.present? %>
  <ul id="error_explanation">
    <% @work.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row mb-1">
  <div class="col-auto">
    <h5>業務編集</h5>
  </div>
</div>

<div class="work-post">
  <%= form_with(model: @work, local: true) do |f| %>
  
  <div class="row">
    <div class="col-auto ml-3"> 
      ・年度：<%= Constant::FISCAL_YEARS[@work.fiscalyear] %>
    </div>
    
    <div class="col-auto"> 
      <%= f.label "・業務名：" %>
      <% if current_user.position == 4 %> <!-- 課室長級の場合 -->
        <%= f.text_field :name, :size=>"40", placeholder: "記載例：●●●に関する業務"  %>
      <% else %>
        <%= link_to @work.name, work_path(@work.id) %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-auto ml-3">
    <%= f.label "・業務時期" %>
    <%= f.select :period, {1=>1,2=>2,3=>3,4=>4,5=>5,6=>6,7=>7,8=>8,9=>9,10=>10,11=>11,12=>12, "毎月"=>13, "不定期"=>nil} %>
    月
    </div>
  
    <% if current_user.position == 4 %> <!-- 課室長級の場合 -->
      <div class="col-auto">
        <%= f.label "・担当者" %>
        <%= f.collection_select :user_id, @staffs_in_department,:id, :full_name, {include_blank: "職員を選択してください"} %>
      </div>
    <% end %>
  </div>
  
  <div class="row mt-3">
    <div class="col-auto ml-3">
      ・業務概要
      <%= f.text_area :summary, :cols => 60, :rows => 5 , class: "form-control" %>
    </div>
  
    <div class="col-auto ml-3">
      ・本業務の課題
      <%= f.text_area :task, :cols => 60, :rows => 5, class: "form-control" %>
    </div>
  </div>
  
  <div class="row justify-content-end">
    <div class="col-1">
      <%= f.submit "更新" %>
    </div>
  </div>

  <div class="row mt-5 mb-3">
    <div class="col-2 ml-3">
      ・業務フロー
    </div>
  </div>

  <div class="workflows">
    <div class="row justify-content-md-center mt-2 mb-2">
      <div class="col-8">
        <%= f.submit "＋フロー追加 1", class: "btn btn-secondary btn-sm btn-block" %>
      </div>
    </div>
    
    <% i = 2 %>
    <%= f.fields_for :workflows do |t| %>

      <%= render "workflow_fields", {f: t, i: i} %>
      
      <div class="row justify-content-md-center mt-2 mb-2">
        <div class="col-8">
        <%= f.submit "＋フロー追加 #{i}", class: "btn btn-secondary btn-sm btn-block" %>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
  </div>
  
  <div class="row justify-content-end mt-3 mb-3">
    <div class="col-1">
      <%= f.submit "更新" %>
    </div>
  </div>
  
  <% end %>

  <% if current_user.position == 4 %> <!-- 課室長級の場合 -->
    <div class="row justify-content-end mt-5 mr-3 mb-3">
      <%= link_to "業務の削除", work_path(@work.id), method: :delete, data: { confirm: "#{@work.name}を削除します。本業務に関するToDoも全て削除されます。本当によろしいですか？" }, class: "btn btn-danger" %>
    </div>
  <% end %>
  
</div>