<div class="row">
  <div class="col-2">    
    <select name="pulldown1">
      <option value="">年度を選択</option>
      <option value=<%= "/departments/#{@departments.find_by(annual_year:2021).id}/works/#{@work.firstid}" %>>R3</option>
      <option value=<%= "/departments/#{@departments.find_by(annual_year:2020).id}/works/#{@work.firstid}" %>>R2</option>
    </select>
    <input type="button" id="location" value="移動">
  </div>
  
  <div class="col-4"> 
    ・業務名：<%= @work.name %>
  </div>
  <div class="col-5"> 
    ・業務時期：<%= @work.period %>月
  </div>
  <div class="col-1"> 
    <a href="#" class="btn btn-secondary btn-sm" role="button">編集</a>
  </div>
</div>


<div class="row mt-3">
  <div class="col-11 ml-5 mr-5">
    業務概要
  <div class="border border-dark" style="height:50px;">
    <%= @work.summary %>
  </div>
  </div>
</div>


<div class="row mt-3">
  <div class="col-11 ml-5 mr-5">
  本業務の課題
  <div class="border border-dark" style="height:50px;">
  </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-6 ml-5">
  <p class="text-center">業務フロー</p>
  </div>
</div>

<div class="row">
  <div class="col-6 ml-5">
  ①
  </div>
  <div class="col-5 mr-5">
  〔
  </div>
</div>

<script>
$(function () {
$('#location').click(function() {
    if ($(this).val() != '') {
      window.location.href = $('select[name=pulldown1]').val();
    }
  });
});
</script>