<div class="row">
  <div class="col-2">
    <%= form_with(url: works_move_show_path, local: true) do |f| %>
      <%= f.hidden_field :id, :value => @work.id %>
      <%= f.select :fiscalyear, @fiscalyears, {include_blank: "年度を選択"} %>
      <%= f.submit "選択" %>
    <% end %>
  </div>

  <div class="col-2"> 
    ・年度：<%= Constant::FISCAL_YEARS[@work.fiscalyear] %>
  </div>

  <div class="col-4"> 
    ・業務名：<%= link_to @work.name, work_path(@work.id) %>
  </div>
  <div class="col-3"> 
    ・業務時期：
    <% if @work.period %>
      <%= @work.period %>月
    <% else %>
      不定期
    <% end %>
  </div>
  <div class="col-1"> 
    <%= link_to edit_work_path(@work.id) do %>
    <button type="button" class="btn btn-secondary">編集</button>
    <% end %>
  </div>
</div>

<% if current_user.position == 0 %>
<div class="row">
  <div class="col-auto offset-2"> 
    ・担当者：
    <%= @work.user&.name %>
  </div>
</div>
<% end %>


<div class="row mt-3">
  <div class="col-5 ml-5">
    業務概要
  <div class="border border-dark" style="height:100px;">
    <%= @work.summary %>
  </div>
  </div>
  
  <div class="col-5 ml-5">
    本業務の課題
  <div class="border border-dark" style="height:100px;">
    <%= @work.task %>
  </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-5 ml-5">
    ToDo
      <%= link_to "/todos/new/#{@work.id}" do %>
      <button type="button" class="btn btn-secondary btn-sm py-0 mb-0">追加</button>
      <% end %>
    <div class="border border-dark">
      <div class="overflow-auto" style="height:100px;">
        <% @todos.each do |todo| %>
          <% if todo.status == 0 || todo.status == 1 %>
            <%= link_to "作業期限：" + todo.datechange, edit_todo_path(todo.id) %><br>
            <%= "作業内容：" + todo.content %><br>
            <%= "作業状況：" + todo.statuschange(todo.status) %><br><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-5 ml-5">
    ToDo(期限超過)
    <div class="border border-dark">
      <div class="overflow-auto" style="height:100px;">
        <% @over_todos.each do |todo| %>
          <% if todo.status == 0 || todo.status == 1 %>
            <%= link_to "作業期限：" + todo.datechange, edit_todo_path(todo.id) %><br>
            <%= "作業内容：" + todo.content %><br>
            <%= "作業状況：" + todo.statuschange(todo.status) %><br><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-2">
    <p class="text-center">業務フロー</p>
  </div>
</div>

<% i = 1 %>
<% @workflows.each do |workflow| %>
  <div class="row">
    <div class="col-6 ml-5">
      手順<%= workflow.number %>
    </div>
  </div>
  
  <div class="row">
      <div class="col-5 ml-5">
          <div class="border border-dark">
            <div class="overflow-auto" style="height:100px;">
              <%= workflow.content %>
            </div>
          </div>
      </div>
      <div class="col-6 mr-5">
        <p>備考：<%= workflow.note %></p>
        <p>ファイルパス：<%= link_to workflow.filepath, "#{workflow.filepath}" %></p>
        <% if workflow.file.attached? %>
        <p>添付ファイル：<%= link_to "#{workflow.file.filename}" ,rails_blob_path(workflow.file) %></p>
        <% end %>
      </div>
  </div>
  
  <div class="row justify-content-center offset-1">
    <div class="col-2">
      <% if i < @workflows.size %>
        <i class="fas fa-arrow-down fa-2x"></i>
      <% i += 1 end %>
    </div>
  </div>
<% end %>

<div class="row mt-5">
</div>