<div class="row mb-1">
  <div class="col-auto">
    <h5>業務照会</h5>
  </div>
</div>

<div class="row">
  <div class="col-auto">
    <%= form_with(url: works_move_show_path, local: true) do |f| %>
      <%= f.hidden_field :id, :value => @work.id %>
      <%= f.select :fiscalyear, @fiscalyears, {include_blank: "年度を選択"} %>
      <%= f.submit "選択" %>
    <% end %>
    <a href="#workflow">↓業務フローへ移動↓</a>
  </div>

  <div class="col-auto"> 
    ・年度：<%= Constant::FISCAL_YEARS[@work.fiscalyear] %>
    <div> 
      ・業務時期：
      <% if @work.period && @work.period != 13 %>
        <%= @work.period %>月
      <% elsif @work.period == 13 %>
        毎月
      <% else %>
        不定期
      <% end %>
    </div>
  </div>

  <div class="col-auto"> 
    ・業務名：<%= link_to @work.name, work_path(@work.id) %>
    
    <% if current_user.position == 4 %> <!-- 課室長級の場合 -->
    <div> 
      ・担当者：
      <%= @work.user&.full_name %>
    </div>
    <% end %>
  </div>
  
  <div class="col-1 ml-auto"> 
    <%= link_to "編集", edit_work_path(@work.id) , class: "btn btn-secondary btn-sm" %>
  </div>
</div>


<div class="row justify-content-center mt-3 mb-5">
  <div class="col-5">
    業務概要
    <div class="box1 bg-white overflow-auto" style="height:150px;">
      <p><%= @work.summary %></p>
    </div>
  </div>
  
  <div class="col-5 ml-5">
    本業務の課題
    <div class="box2 bg-white overflow-auto" style="height:150px;">
      <p><%= @work.task %></p>
    </div>
  </div>
</div>

<hr>

<div class="row justify-content-center mt-3">
  <div class="col-5">
    ToDo
      <%= link_to "/todos/new/#{@work.id}" do %>
      <a href="/todos/new" class="badge badge-secondary">追加</a>
      <% end %>
    <div class="box8 overflow-auto" style="height:300px;">
      <% @todos.each do |todo| %>
        <% if todo.status == 0 || todo.status == 1 %>
          <p class="small">
          <%= link_to "作業期限：" + todo.datechange, edit_todo_path(todo.id) %><br>
          <%= "作業内容：" + todo.content %><br>
          <%= "作業状況：" + todo.statuschange(todo.status) %><br><br>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-5 ml-5">
    ToDo(期限超過)
    <div class="box9 overflow-auto" style="height:300px;">
      <% @over_todos.each do |todo| %>
        <% if todo.status == 0 || todo.status == 1 %>
          <p class="small">
          <%= link_to "作業期限：" + todo.datechange, edit_todo_path(todo.id) %><br>
          <%= "作業内容：" + todo.content %><br>
          <%= "作業状況：" + todo.statuschange(todo.status) %><br><br>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="row justify-content-center mt-5">
  <div class="col-auto offset-5">
    <p class="text-center anchor" id="workflow">業務フロー</p>
  </div>
  <div class="col-5">
    <%= link_to "CSV出力", work_path(format: :csv), data: { confirm: "CSV出力してよろしいですか？" },class: "btn btn-success btn-sm" %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "編集", edit_work_path(@work.id) , class: "btn btn-secondary btn-sm" %>
  </div>
</div>

<% i = 1 %>
<% @workflows.each do |workflow| %>
  <div class="row">
    <div class="col-6 ml-5">
      手順<%= workflow.number %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-5 ml-5">
      <div class="border border-dark bg-white overflow-auto" style="height:100px;">
        <%= workflow.content %>
      </div>
    </div>
    <div class="col-5 ml-1 mr-3">
      <p>備考：<%= workflow.note %></p>
      <p>ファイルパス：<%= link_to workflow.filepath, "file:///#{workflow.filepath}" %></p>
      <% if workflow.file.attached? %>
      <p>添付ファイル：<%= link_to workflow.file.filename ,rails_blob_path(workflow.file) %></p>
      <% end %>
    </div>
  </div>
  
  <div class="row justify-content-center offset-1">
    <div class="col-2">
      <% if i < @workflows.size %>
        <i class="fas fa-arrow-down fa-2x"></i>
      <% i += 1 end %>
    </div>
  </div>
<% end %>

<div class="row mt-5 ml-1">
<a href="#top">↑先頭へ移動↑</a>
</div>

<div class="row mt-5">
</div>