<div class="row">
  <div class="col-2">
    <%= form_with url: works_move_path do |f| %>
      <%= f.hidden_field :id, :value => @work.id %>
      <%= f.select :fiscalyear, @fiscalyears, {include_blank: "年度を選択"} %>
      <%= f.submit "選択" %>
    <% end %>
  </div>


  <div class="col-4"> 
    ・業務名：<%= @work.name %>
  </div>
  <div class="col-5"> 
    ・業務時期：<%= @work.period %>月
  </div>
  <div class="col-1"> 
    <%= link_to edit_work_path(@work.id) do %>
    <button type="button" class="btn btn-secondary">編集</button>
    <% end %>
  </div>
</div>


<div class="row mt-3">
  <div class="col-5 ml-5">
    業務概要
  <div class="border border-dark" style="height:100px;">
    <%= @work.summary %>
  </div>
  </div>
  
  <div class="col-5 ml-5">
    本業務の課題
  <div class="border border-dark" style="height:100px;">
    <%= @work.task %>
  </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-2">
    <p class="text-center">業務フロー</p>
  </div>
</div>

<% i = 1 %>
<% @workflows.each do |workflow| %>
  <div class="row">
    <div class="col-6 ml-5">
      手順<%= workflow.number %>
    </div>
  </div>
  
  <div class="row">
      <div class="col-5 ml-5">
          <div class="border border-dark">
            <div class="overflow-auto" style="height:80px;">
              <%= workflow.content %>
            </div>
          </div>
      </div>
      <div class="col-6 mr-5">
        <p>備考：<%= workflow.note %></p>
        <p>ファイルパス：<%= link_to workflow.filepath, "#{workflow.filepath}" %></p>
      </div>
  </div>
  
  <div class="row justify-content-center offset-1">
    <div class="col-2">
      <% if i < @workflows.size %>
        <i class="fas fa-arrow-down fa-2x"></i>
      <% i += 1 end %>
    </div>
  </div>
<% end %>

<div class="row mt-5">
</div>