<%= form_with(model: @user, local: true) do |f| %>

  <div class="row">
    <div class="col-4">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
    
  <div class="row">
    <div class="col-4">  
      <%= f.label :password_confirmation, "パスワード（確認用）" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
    
  <div class="row mt-3 ml-1">  
    <%= f.submit "更新" %>
  </div>

<% end %>