<h5>スケジュール（月間）</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'イベント追加', new_event_path , class: "btn btn-info btn-sm" %>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div class="small">
      <% if event.start_time.day == date.day %>
        <%= "#{event.start_time.hour}時#{event.start_time.min}分~" %><%= "#{event.end_time.hour}時#{event.end_time.min}分" if event.end_time.day == date.day %>
      <% elsif event.start_time.day != date.day && event.end_time.day != date.day %>
        ~
      <% elsif event.start_time.day != date.day && event.end_time.day == date.day %>
        <%= "~#{event.end_time.hour}時#{event.end_time.min}分" %>
      <% end %>
      <div>・<%= link_to event.title, event_path(event.id) %></div>
    </div>
  <% end %>
  
  <% if @todos_in_calender[date] != nil %>
  　<div class="text-danger small">!!以下、ToDo作業期限!!</div>
  <% end %>
  
  <% @todos_in_calender[date]&.each do |todo_in_calender| %>
    <p class="small">・<%= link_to todo_in_calender.work.name, todo_path(todo_in_calender.id) %> <%= "(" + todo_in_calender.content + ")" %></p>
  <% end %>
<% end %>