<div class="row justify-content-end">
  <div class="col-auto">
    <div class="profile text-right font-weight-bold">年度：<%= Constant::FISCAL_YEARS[@current_fiscalyear] %>　　氏名：<%= @user.full_name %>　　所属：<%= @department.name %></div>
  </div>
</div>

<%= render "events/week_calendar" %>
<div class="text-right"><%= link_to ">>スケジュール（月間）へ", events_path %></div>

<div class="row justify-content-center mt-3">
  <div class="col-11" >
        <div class="slider">
            
            <% 1.upto(12) do |month| %>
            <div>
              <h5>業務スケジュール（<%= month %>月）</h5>
                <div class="box11 col-12 overflow-auto" style="height:200px;">
                  <% @works.where(period: 13).each do |work| %>
                    <p>・<%= link_to work.name ,work_path(work.id) %></p>
                  <% end %>
                  <% @works.where(period: month).each do |work| %>
                    <p>・<%= link_to work.name ,work_path(work.id) %></p>
                  <% end %>
                </div>
            </div>
            <% end %>
            
        </div>
      </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-4">
    <h5>ToDo</h5>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/todos/new" class="badge badge-secondary">追加</a>
      <div class="box8 overflow-auto" style="height:600px;">
        <% @todos.each do |todo| %>
          <% if todo.status == 0 || todo.status == 1 %>
            <p class="small">
            <%= link_to "作業期限：" + todo.datechange, edit_todo_path(todo.id) %><%= "(" + todo.statuschange(todo.status) + ")" %><br>
            <%= "業務名：" + todo.work.name %><br>
            <%= "作業内容：" + todo.content %><br><br>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="text-right"><%= link_to ">>ToDo一覧へ", todos_path %></div>
  </div>
  <div class="col-4">
    <h5>ToDo（期限超過）</h5>
      <div class="box9 overflow-auto" style="height:600px;">
        <% @over_todos.each do |todo| %>
          <% if todo.status == 0 || todo.status == 1 %>
            <p class="small">
            <%= link_to "作業期限：" + todo.datechange, edit_todo_path(todo.id) %><%= "(" + todo.statuschange(todo.status) + ")" %><br>
            <%= "業務名：" + todo.work.name %><br>
            <%= "作業内容：" + todo.content %><br><br>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="text-right"><%= link_to ">>ToDo一覧へ", todos_path %></div>
  </div>
  
  
  <div class="col-3">
    <h5>不定期業務</h5>
      <div class="box12 overflow-auto" style="height:227px;">
        <% @irregular_works.each do |irregular_work| %>
          <p><%= link_to irregular_work.name ,work_path(irregular_work.id) %></p>
        <% end %>
      </div>
      <div class="text-right"><%= link_to ">>業務一覧へ", works_path %></div>
  </div>  
  
</div>

<br>

<div class="row justify-content-center mt-3">
  Copyright 2021 A.M 
</div>

<div class="row" style="height:10px;">
</div>

<script>
$(function() {
  $('.slider').slick({
    slidesToShow:3,
    initialSlide: <%= @current_month %> - 2,
    prevArrow: '<i class="fas fa-arrow-alt-circle-left"></i>',
    nextArrow: '<i class="fas fa-arrow-alt-circle-right"></i>'
  })
});
</script>