  <div class="row">
    <div class="col-2">
      <select name="pulldown1">
        <option value="">年度を選択</option>
        <option value="/pages/home/R3">R3</option>
        <option value="/pages/home/R2">R2</option>
      </select>
      <input type="button" id="location" value="移動">
    </div>
    
    <div class="col-4">
      <p>氏名：<%= @user.name %>　　所属：<%= @department.name %></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-3">
      <div class="row mb-4">
        <div class="col-12">
          ToDo一覧&nbsp;&nbsp;<a href="/todos/new" class="btn btn-secondary btn-sm" role="button">追加</a>
          <div class="border border-dark" style="height:300px;">
            <% @todos.each do |todo| %>
            <%= todo.deadline %>
            <%= todo.work.name %>
            <%= todo.content %>
            <%= todo.status %>
            <% end %>
          </div>
        </div>
      </div>
          ToDo一覧（期限超過）
          <div class="border border-dark" style="height:200px;">
          </div>
    </div>
    
    <div class="col-9">
      <div class="row" style="height:350px;">
        <div class="col-8 pl-5" >
            <div class="slider">
              
              <% 1.upto(12) do |month| %>
              <div>スケジュール（<%= month %>月）
                <div class="border border-dark pl-0" style="height:300px;">
                  <% @works.where(period: month).each do |work| %>
                    <p><%= link_to work.name ,work_path(work.id) %></p>
                  <% end %>
                </div>
              </div>
              <% end %>
              
            </div>
        </div>
        <div class="col-4 pr-4">
          不定期業務
          <div class="border border-dark" style="height:300px;">
            <%= render partial: "irregular_work", collection: @irregular_works %>
          </div>
        </div>
      </div>
      
        <div class="pl-5 pr-3 mb-3">
          担当業務一覧
          <div class="border border-dark">
          <div class="overflow-auto" style="height:200px;">
              <% @works.each do |work| %>
                <p><%= link_to work.name ,work_path(work.id) %></p>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>

  <script>
  $(function () {
  $('#location').click(function() {
      if ($(this).val() != '') {
        window.location.href = $('select[name=pulldown1]').val();
      }
    });
  });
  </script>

  <script>
  $(function() {
    $('.slider').slick({
      slidesToShow:1,
      initialSlide: <%= @current_month %> - 1,
      prevArrow: '<i class="fas fa-arrow-alt-circle-left"></i>',
      nextArrow: '<i class="fas fa-arrow-alt-circle-right"></i>'
    })
  });
  </script>
  
</div>