<H4>業務コピー</H4>

<%= form_with url: admin_works_copied_path do |f| %>
<div class="row">
  <div class="col-3 ml-5">
    コピーする部署
      <%= f.collection_select :department_id, @all_departments,:id, :name, {prompt: "部署を選択してください"} , {class: "form-control"} %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-3 ml-5">
    コピーする年度
      <%= f.select :copied_fiscalyear, Constant::FISCAL_YEARS.invert , {include_blank: "年度を選択"}, {class: "form-control"} %> 
      <!-- invertメソッド：ハッシュのキーと値を入れ替える -->
  </div>
  
  <div class="col-1">
    <i class="fas fa-arrow-right fa-2x"></i>
  </div>
  
  <div class="col-3">
    コピーさせる年度
      <%= f.select :new_copy_fiscalyear, Constant::FISCAL_YEARS.invert , {include_blank: "年度を選択"}, {class: "form-control"} %> 
      <!-- invertメソッド：ハッシュのキーと値を入れ替える -->
  </div>
</div>

<div class="form-group">
  <div class="row mt-3">
    <div class="col-4 ml-5">
      <%= f.submit "コピーする" , class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>