<%= form_with(model: @todo, local: true) do |f| %>
<div class="row">
  <div class="col-3 ml-5">
    業務名
      <%= f.collection_select :work_id, @myworks,:id, :name, {prompt: "業務を選択してください"} , {class: "form-control"} %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-4 ml-5">
    内容
    <%= f.text_area :content, :cols => 70, :rows => 5  , class: "form-control" %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-2 ml-5">
      作業期限 
      <%= f.date_field :deadline, class: "form-control" %>
  </div>
</div>
  
<div class="row mt-5">
  <div class="col-1 ml-5">
    作業状況
    <!-- 【statusについて】→　0:未着手、1:対応中、2:完了 -->
    <div>
    <%= f.radio_button :status, 0 %>
    <%= f.label :status, "未着手",　value: 0 %>
    </div>
    <div>
    <%= f.radio_button :status, 1 %>
    <%= f.label :status, "対応中", value: 1 %>
    </div>
    <div>
    <%= f.radio_button :status, 2 %>
    <%= f.label :status, "完了", value: 2 %>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-5 ml-5">
    <%= f.submit "更新" %>
  </div>
</div>
<% end %>