<div class="row mb-4">
  <div class="col-4">
    <h5>ToDo編集</h5>
  </div>
</div>

<%= form_with model: @todo do |f| %>
<div class="row">
  <div class="col-3">
    業務名
      <%= f.collection_select :work_id, @myworks,:id, :name, prompt: "業務を選択してください"%>
  </div>
</div>

<div class="row mt-5">
  <div class="col-5">
    内容
    <%= f.text_area :content, :cols => 70, :rows => 5  %>
  </div>

  <div class="col-5 offset-2">
    <div class="row mt-5">
      作業期限 
      <%= f.date_field :deadline %>
    </div>
    <div class="row mt-5 ml-5">
      <!-- 【statusについて】→　0:未着手、1:対応中、2:完了 -->
      <div>
      <%= f.radio_button :status, 0 %>
      <%= f.label :status, "未着手",　value: 0 %>
      </div>
      <div>
      <%= f.radio_button :status, 1 %>
      <%= f.label :status, "対応中", value: 1 %>
      </div>
      <div>
      <%= f.radio_button :status, 2 %>
      <%= f.label :status, "完了", value: 2 %>
      </div>
    </div>
    <div class="row mt-5 ml-5">
      <%= f.submit "更新" %>
    </div>
  </div>
</div>
<% end %>