<h4>職員一覧</h4>

<div class="search-form mb-3">
  <%= form_with url: admin_users_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<%= link_to "新規登録", new_admin_user_path, class: "btn btn-primary" %>

<div class="row mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= User.human_attribute_name(:number) %></th>
        <th>氏名</th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:department_id) %></th>
        <th><%= User.human_attribute_name(:position) %></th>
        <th><%= User.human_attribute_name(:admin) %></th>
        <th><%= User.human_attribute_name(:adopt_date)%></th>
        <th><%= User.human_attribute_name(:retire_date)%></th>
        <th></th>
      </tr> 
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.number %></td>
          <td><%= link_to user.full_name, [:admin,user] %></td>
          <td><%= user.email %></td>
          <td><%= user.department&.name %></td>
          <td><%= user.position_change %></td>
          <td><%= user.admin? ? "あり" : "なし" %></td>
          <td><%= user&.adopt_date %></td>
          <td><%= user&.retire_date %></td>
          <td>
            <%= link_to "編集" , edit_admin_user_path(user), class: "btn btn-primary-mr-3" %>
            <%= link_to "削除" , [:admin, user], method: :delete, data: { confirm: "ユーザー「#{user.full_name}」を削除します。よろしいですか？" },
                class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
</div>