<h4>職員情報の登録</h4>

<% if @user.errors.present? %>
  <ul id="error_explanation">
    <% @user.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:admin, @user], local: true, url: confirm_new_admin_user_path do |f|  %>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :number, "職員番号" %>
      <%= f.text_field :number , class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-2">
      <%= f.label :furigana_lastname, "ふりがな（姓）" %>
      <%= f.text_field :furigana_lastname , class: "form-control" %>
    </div>
    <div class="col-2">
      <%= f.label :furigana_firstname, "ふりがな（名）" %>
      <%= f.text_field :furigana_firstname , class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-2">
      <%= f.label :lastname, "姓" %>
      <%= f.text_field :lastname , class: "form-control" %>
    </div>
    <div class="col-2">
      <%= f.label :firstname, "名" %>
      <%= f.text_field :firstname , class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email , class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :department_id, "所属部署" %>
      <%= f.select :department_id, options_from_collection_for_select(Department.all, :id, :name, @user.department_id), {include_blank: "所属部署を選択"}, {class: "form-control"} %> 
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :position, "役職" %>
      <%= f.select :position, User::POSITION_LIST.invert , {include_blank: "役職を選択"}, {class: "form-control"} %> 
    </div>
  </div>
</div>

<div class="form-check">
  <div class="row">
    <div class="col-4">
      <%= f.check_box :admin , class: "form-check-input" %>
      <%= f.label :admin, "管理者権限", class: "form-check-label" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :adopt_date, "採用日" %>
      <%= f.date_field :adopt_date, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :retire_date, "退職日" %>
      <%= f.date_field :retire_date, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password , class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.label :password_confirmation, "パスワード（確認）" %>
      <%= f.password_field :password_confirmation , class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-4">
      <%= f.submit "更新" , class: "btn btn-primary" %>
    </div>
  </div>
</div>

<% end %>